@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-arabic: "Beiruti", sans-serif;

  --font-size-xs: 0.75rem;
  --font-size-xs--line-height: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-sm--line-height: 1.4;
  --font-size-base: 1rem;
  --font-size-base--line-height: 1.5;
  --font-size-lg: 1.125rem;
  --font-size-lg--line-height: 1.6;
  --font-size-xl: 1.25rem;
  --font-size-xl--line-height: 1.6;
  --font-size-2xl: 1.5rem;
  --font-size-2xl--line-height: 1.3;
  --font-size-3xl: 1.875rem;
  --font-size-3xl--line-height: 1.25;
  --font-size-4xl: 2.25rem;
  --font-size-4xl--line-height: 1.2;
  --font-size-5xl: 3rem;
  --font-size-5xl--line-height: 1.1;
  --font-size-6xl: 3.75rem;
  --font-size-6xl--line-height: 1.1;
  --font-size-7xl: 4.5rem;
  --font-size-7xl--line-height: 1.05;
  --font-size-8xl: 6rem;
  --font-size-8xl--line-height: 1.05;

  --letter-spacing-tighter: -0.04em;
  --letter-spacing-tight: -0.02em;
  --letter-spacing-normal: 0em;
  --letter-spacing-wide: 0.025em;

  --color-background: #050505;
  --color-surface: #0F0F0F;
  --color-emerald-300: #6ee7b7;
  --color-emerald-400: #34d399;
  --color-emerald-500: #10b981;
  --color-emerald-600: #059669;
  --color-emerald-900: #064e3b;
  --color-emerald-950: #022c22;

  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-glass: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.00) 100%);

  --animate-fade-in-up: fadeInUp 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  --animate-float: float 6s ease-in-out infinite;
  --animate-pulse-glow: pulseGlow 4s ease-in-out infinite;

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(15px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  @keyframes pulseGlow {
    0%,
    100% {
      opacity: 0.3;
    }
    50% {
      opacity: 0.6;
    }
  }
}
